.destinations-hero {
    height: 60vh; 
    position: relative;
    overflow: hidden;
}

.hero-card {
    height: 100%;
}

.hero-img {
    height: 100%; 
    width: 100%; 
    object-fit: cover; 
}

.text-overlay {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.hero-button {
    margin-top: 20px;
    font-size: 1.2rem; 
}

/* Stili per mobile */
@media (max-width: 768px) {
    .destinations-hero {
        height: 40vh; 
    }

    .hero-title {
        font-size: 1.8rem; 
    }

    .hero-button {
        font-size: 1rem; 
    }
}
